#title{
	float: left;
	color: yellow;
	font-size: 24px; 
	background: black;
	padding: 10px 14px
}
	

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li {
  float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
background-image: url("../img/coworking.jpg")


}


/*

FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;

*/
