.title {

	color: rgb(255, 13, 255);
}




.p {
  color: red;
  font-weight: 900; 
 
  text-align: center; 
  width: 50%; 
  text-decoration: underline; 
  
  font-family: helvetica, serif; 
  font-size: 100x; 


}