body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #444444;
}

#wrapper {
	padding: 54px;
	width: 100%;
	left: 100%;
	align-content: center;
	background: black;
}

a{
	color: grey;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 54px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	font-weight: normal;
	color: #CCCCCC;
	margin: 0;
	padding: 0;
}

h2 a {
	color: black;
}

h2 a:hover {
	color: #DD0000;
}

h3 {
	
	font-size: 36px;
	font-weight: normal;
	color: #CCCCCC;
	margin: 0;
	padding: 0;
}

#header h2 {
	font-size: 27px;
	margin-bottom: 9px;
}


#header .nav a {
	font-size: 22px;
	margin: center;
	color: #CCCCCC;
	border-bottom: 2px solid #eeeeee;
}

#header .nav a:hover {
	color: black;
	border-bottom: 2px solid #bbbbbb;
}


.article {
	border-bottom: 1px solid #dddddd;
	margin: 54px 0;
	padding-bottom: 27px;
}

.box {
  width: 50%;
  height: 100%;
  padding: 60px;
  border: 6px solid grey;
  background: white;
  align-content: center;
margin: 0 auto;
-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);
}
 
.text{
-webkit-transform: skew(-20deg);
-moz-transform: skew(-20deg);
-o-transform: skew(-20deg);
}



.carousel-inner .item {
	text-align: center !important;
	color: white;
	background: black;
}

@media (max-width: 570px) {
	.carousel-control.left {
		left: 0;
	}
	.carousel-control.right {
		right: 0;
	}
}

.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}