body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #ffffff;
	color: #444444;
}

#wrapper {
	padding: 54px;
	width: 100%;
	border-left: 6px solid #dddddd;
}

a{
	color: #dd0000;
	text-decoration: none;
}

a:hover {
	color: #aa0000;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 54px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
}

h2 a {
	color: black;
}

h2 a:hover {
	color: #DD0000;
}

h3 {
	
	font-size: 36px;
	font-weight: normal;
	color: #CCCCCC;
	margin: 0;
	padding: 0;
}



#header h2 {
	font-size: 27px;
	margin-bottom: 9px;
}


#header .nav a {
	font-size: 22px;
	margin: center;
	color: #dddddd;
	border-bottom: 2px solid #eeeeee;
}

#header .nav a:hover {
	color: black;
	border-bottom: 2px solid #bbbbbb;
}

.article {
	border-bottom: 1px solid #dddddd;
	margin: 54px 0;
	padding-bottom: 27px;
}

.box {
  width: 50%;
  height: 100%;
  padding: 60px;
  border: 6px solid red;
  background: white;

}




