
#header { color: red;

  text-align: left;

  font-size: 36px;
      padding-top: 30px;
      padding-bottom: 10px;
      padding-right: 30px;
      padding-left: 30px;

 }
 #sub-header{

  text-align: left;

  font-size: 24px;
        padding-top: 10px;
        padding-left: 30px;
 }

 #menu-bar
{ color: grey;
text-align: left;
font-size: 18px;
text-decoration:underline;
font-weight:lighter;
}
span {
  margin-left: 30px; 
}



#top-date{
 text-align: left;
color: grey;
  font-size: 24px;
        padding-left: 30px;
        font-weight:lighter;
}


#top-body{
text-align: left;
font-size: 24px;
padding-left: 30px;
}

#top-fashion-photo{
        padding-left: 30px;
}

#body-content{
padding-left: 30px;
font-size: 18px;
font-weight:lighter;


}

#continue{

    color: red;
    font-weight:bold;
    text-align: right;

}